<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <form action="/member/insert" method="post">
    <input type="text" name="id" placeholder="아이디" /><br />
    <input type="password" name="pw" placeholder="암호" /><br />
    <input type="text" name="na" placeholder="이름" /><br />
    <input type="text" name="ad" placeholder="주소" /><br />
    <input type="text" name="ag" placeholder="나이" /><br />
    <input type="submit" value="회원등록" />
  </form>
</body>

</html>